h1 {
    color :slategrey;
    font-size : 30pt;
    
}
h2{
    color: orangered;
    font-size: 25pt;
}
body{
    background-color: lightskyblue;
}
@media screen and (max-width : 768px){
    img {
        width: 130%;
        height: auto;
      }
    h1{
        width: 12%;
        
    }
    h2{
        width: 142%;
       
    }
    body{
        width: 70%;
        background-color: rgb(112, 216, 138);
    }
    
}